<h4>Important announcement for reddit RE: People's Republic of Free <a href="https://us.reddit.com/r/snew/">/r/Snew aka PRoFS</a></h4>
<p>
  We hold these truths to be self-evident, that all people are created equal, that they are endowed by their <a href="https://us.reddit.com/r/fsm">Creator</a> with certain unalienable Rights, that among these are Life, Liberty and the <a href="http://en.wikipedia.org/wiki/Poe's_law" target="reddit">pursuit of Lulz.</a>
  --That to secure these rights, <a href="https://us.reddit.com/r/reddit.com/about/moderators" target="reddit">Governments</a> are instituted among <a href="https://www.youtube.com/watch?v=3e5gTrRzIxA">meatbags</a>, deriving their just powers from the <a href="https://us.reddit.com/r/undelete/comments/3696tk/1086_based_on_your_own_data_35_of_the_complaints/?">consent of the governed</a>,
  --That whenever any Form of Government becomes destructive of these ends, it is the Right of the People to alter or to abolish it, and to institute new Government,
  laying its foundation on such principles and organizing its powers in such form, as to them shall seem most likely to effect their Safety and Happiness.
  Prudence, indeed, will dictate that <a href="https://us.reddit.com/r/reddit.com/comments/87/the_downing_street_memo/" target="reddit">Governments long established</a> should not be changed for <a href="https://us.reddit.com/r/thebutton/">light and transient causes</a>; and accordingly <a href="http://reddithistory.wikia.com/wiki/Digg_exodus" target="reddit">all experience hath shewn, that mankind are more disposed to suffer, while evils are sufferable, than to right themselves by abolishing the forms to which they are accustomed.</a>
  But when a <a href="https://us.reddit.com/r/subredditcancer/">long train of abuses and usurpations</a>, pursuing invariably the same Object evinces a design to <a href="https://i.imgur.com/nXjXVEm.png" target="reddit">reduce them under absolute Despotism</a>, it is their right, <strong>it is their duty</strong>, to throw off such Government, and to provide <a href="https://us.reddit.com/r/snew/about/moderators">new Guards for their future security.</a>
  --Such has been the patient sufferance of these subreddits; and such is now the necessity which constrains them to alter their former Systems of Government.
  The history of the present <a href="https://us.reddit.com/r/IAmA/comments/1nfx00/iama_cofounder_of_reddit_alexis_ohanian_amaath/ccia9gq?context=1" target="new">kn0thing</a> and
  <a href="https://us.reddit.com/r/paoyongyang">ekjp</a> is a history of repeated <a href="https://www.reddit.com/r/redditcensorship" target="reddit">injuries and usurpations</a>, all having in direct object the establishment of an <a href="http://www.npr.org/sections/alltechconsidered/2015/05/19/407971708/reddits-new-harassment-policy-aimed-at-creating-a-safe-platform">absolute Tyranny over these communities.</a>
  <a href="https://us.reddit.com/domain/zh.reddit.com/">To prove this, let Facts be submitted to a candid world.</a>
</p><p>
  In every stage of these <a href='https://us.reddit.com/r/oppression' target='reddit'>Oppressions</a>, <a href="https://us.reddit.com/r/BringBackReddit/comments/36alxp/my_open_letter_why_is_rtwoxchromosomes_the_only/">We have Petitioned for Redress in the most humble terms:</a>
  Our repeated Petitions have been answered <a href='https://us.reddit.com/r/POLITIC/comments/37ovia/politicbot_was_shadowbanned_yesterday_for_spam/' target='reddit'>only by repeated injury. </a>
  A Prince whose character is thus marked by every act which may define a Tyrant, is unfit to be the <a href="">ruler of a free people.</a>
</p><p>
  Nor have We been wanting in attentions to our Scarlet Letter brethren.
  We have warned them from time to time of attempts by their legislature to extend an <a href="https://projects.eff.org/~barlow/Declaration-Final.html">unwarrantable jurisdiction</a> over us.
  <a href="https://www.reddit.com/user/politicbot/m/readme">We have reminded them of the circumstances of our emigration and settlement here. </a>
  We have <a href="">appealed to their native justice and magnanimity</a>, and we have conjured them by the ties of our common kindred to <a href="https://us.reddit.com/r/IAmA/comments/32povn/ama_request_ellen_pao_ceo_of_reddit/">disavow these usurpations</a>, which, would inevitably interrupt our connections and correspondence.
  They too have been deaf to the voice of justice and of consanguinity. We must, therefore, acquiesce in the necessity, which denounces our Separation, and hold them, as we hold the rest of mankind, Enemies in War, in Peace Friends.
  We, therefore, the Representatives of the People's Republic of Free <a href="https://us.reddit.com/r/snew/">/r/Snew</a>, in General Congress, Assembled, appealing to the Supreme Judge of the world for the rectitude of our intentions,
  do, in the Name, and by Authority of the good People of these subreddits, solemnly publish and declare, That these United Communities are, and of Right ought to be
  <a href="https://us.reddit.com/r/IAmA/comments/sk1ut/iam_yishan_wong_the_reddit_ceo/c4en44e">Free and Independent City-States</a>; that they are Absolved from all Allegiance to the British Crown, and that all political connection between them and the State of Great Britain, is and ought to be totally dissolved; and that as Free and Independent States, they have full Power to levy War, conclude Peace, contract Alliances, establish Commerce, and to do all other Acts and Things which Independent States may of right do. And for the support of this Declaration, with a firm reliance on the protection of divine Providence, we mutually pledge to each other our Lives, our Fortunes and our sacred Honor.
</p><p>
  It is therefore the <a href="https://us.reddit.com/r/changemyview/comments/30u79c/cmv_reddit_still_is_a_bastion_of_free_speech_on/">recently formed opinion</a> of "<a href="https://us.reddit.com/user/go1dfish">美国鬼子 ಠ_ಠ</a>" and "<a href="https://us.reddit.com/user/PoliticBot">文革中的机器毛 ಠ_ಠ</a>" that the paowers that be have had every opportunity to graciously accept an
  honorable defeat at the <a href="https://us.reddit.com/help/useragreement#section_reddit_is_for_fun">Game of Reddit</a> in the face of a worthy advesary.
</p><p>
  Furthermore we believe that <a href="https://us.reddit.com/r/Upvoted/comments/317sds/episode_12_the_surprisingly_complex_life_of_a/cpz941e">the defaults have collectively and systematically jumped the shark</a>
</p><p>
  Therefore we demand the following <a href="https://us.reddit.com/r/redditpolicy">terms of unconditional surrender</a> to the community from whence you draw all power.
</p><p>
  Though you should absolutely consider this an <strong>object lesson in demeaning torment</strong> within a "safe space" it is not harassment under the rules of this game because we do not seek your execution, and we do not seek your exile.
  We only seek that you abdicate the power to <a href="http://collectiveliberation.org/wp-content/uploads/2013/01/Lorde_The_Masters_Tools.pdf">LORDE</a> over a community you have so clearly demonstrated that you are incapable of understanding.
  Kicking you out of it would be woefully counter productive, because learning is something you very desperately need.
</p><p>
  <h1>We politefully and respectfully request that Ellen Pao **immediately** abdicate power and pay any severance as reparations to the ACLU for the damages you have caused to the free peoples of the internet.</h1>
  <h2>We may only be able to temporarily tear down the masters house with your own tools</h2>
  <h3>But we can certainly tank the value of your intellectual property so long as our host government still supports the ideals reflected in this declaration.</h3>
</p>
