<div class='row'>
  <div class='col-md-8'>
    <div class="reddit-embed" data-embed-media="www.redditmedia.com" data-embed-parent="false" data-embed-live="true" data-embed-created="2015-07-11T18:54:34.004Z"><a href="https://www.reddit.com/r/announcements/comments/3cucye/an_old_team_at_reddit/csz1fvt">Comment</a> from discussion <a href="https://www.reddit.com/r/announcements/comments/3cucye/an_old_team_at_reddit/">An old team at reddit</a>.</div><script async src="https://www.redditstatic.com/comment-embed.js"></script>

  </div><div class='col-md-4'>
{{ember-youtube ytid=gradio.lastUpdate.ytid
  playing="ytPlaying" ended="ytEnded"
  autoplay=gradio.autoplay showControls=false}}
  </div>
</div>
{{!--{{snew-chat}}--}}
