{{ember-youtube ytid=gradio.lastUpdate.ytid class='pull-right'
  playing="ytPlaying" ended="ytEnded"
  autoplay=gradio.autoplay showControls=false}}
<h1><a class='btn btn-primary btn-lg' href="https://snew.github.io/" target="snew">snew.github.io</a></h1>
