<div class='navbar navbar-default'>
  <div class='container'>
    <div class='navbar-header'>
      {{link-to 'ModLog' 'index' class='navbar-brand'}}
    </div>
    <div id='navbar' class='navbar-collapse collapse'>
      <ul class='nav navbar-nav'>
        {{#unless snoocore.isLoggedIn}}<li>
          {{link-to '/r/ModLog bot' 'monitor'}}
        </li>{{/unless}}
        <li><a href="http://openthesafe.space/" target="snew">openthesafe.space</a></li>
      </ul>
      <ul class='nav navbar-nav navbar-right'>
        <li>
          <a href="https://voat.co/v/go1dfish/" target="_new">/v/go1dfish</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div id='maincontainer' class='container'>{{outlet}}</div>
<footer class='container'>
  <h5>
    All <a target='github' href='https://github.com/Fair-Share'>code and concepts</a>
    are licensed under <a href='http://www.wtfpl.net' target='license'>WTFPLv2</a>.  Build something!
    {{link-to 'Privacy Policy' 'privacy'}}
  </h5>
  <h4><a href='https://us.reddit.com/r/POLITIC/comments/37ovia/politicbot_was_shadowbanned_yesterday_for_spam/'>This web application claims no affiliation with reddit inc. nor does reddit inc. endorse it.</a></h4>
  <strong>NO CONTENT OR DATA IS HOSTED HERE!!!</strong>  This is just a client application written in javascript.
</footer>
