<h2>Participating subreddits</h2>
<hr>
<h3>{{link-to '/r/POLITIC' 'log' 'POLITIC'}}</h3>
<h3>{{link-to '/r/Morrowind' 'log' 'Morrowind'}}</h3>
<h3>{{link-to '/r/ElderScrolls' 'log' 'ElderScrolls'}}</h3>
<h3>{{link-to '/r/publicmodlogs' 'log' 'publicmodlogs'}}</h3>
<hr>
<p>To participate invite /u/publicmodlogs as a moderator of your sub with NO PERMISSIONS</p>
