<div class='jumbotron text-center'>
{{#if snoocore.isLoggedIn}}
  <p>ModLog is now scanning for removals and reporting them as posts to <a href='https://reddit.com/r/modlog/new' target='reddit'>/r/modlog</a></p>
  <h2>
    Posted: {{modlog.reported.length}} posts
    {{modlog.reportedComments.length}} comments
  </h2>
  <p>Thank you for participating!  The bot will stop as soon as you close this tab, or in 1 hr</p>
{{else}}
  {{!--<h3>without authority, effort or skill; simply the desire for change</h3>--}}
  <h2>Power <a href='https://reddit.com/r/modlog/new' target='reddit'>/r/modlog</a> through collective action</h2>
  <h2 class='well monitor-button'>
    <a {{bind-attr href=snoocore.loginUrl}} class='btn btn-primary btn-lg'>
      Log bot in
    </a>
    <span class='label label-default'>
      Click 'allow' on next page.
    </span>
  </h2>
  <h4>There is nothing to install, this runs in your browser.</h4>
  <p>It can't access your PMs, Mod Mail, Mod Logs, Private Subreddits or any private data.</p>
  <p><strong>All it does is post to /r/modlog</strong></p>
  ModLog abides by all reddit rules and API access restrictions.
{{/if}}
</div>
