<div class='jumbotron'>
<h2 class='center-text'><a href="https://www.reddit.com/live/uocz16gmx2s7" target="reddit">
  <em>P</em>eople's <em>R</em>epublic <em>o</em>f <em>F</em>ree <em>S</em>new <em>gRadio</em></a></h2>
{{#unless snoocore.isLoggedIn}}
  <h1 class='monitor-button'>
    <a {{bind-attr href=snoocore.loginUrl}} class='btn btn-primary btn-lg'>
      [pressiah button]
    </a>
    <span class='label label-default'>
      'allow' or <a href="https://chrome.google.com/webstore/detail/modlog-lazy-pressiah-butt/ofkmlkdldhfkhbpcdfcefehljbahcieo?hl=en-US" target="chromeext">[lazy pressiah]</a>
    </span>
  </h1>
{{/unless}}
</div>
